:root {
  --base-color: rgba(0, 0, 0, 0.8);
  --lite-color: #ffffff;
  --second-lite-color: #fafafa;
  --darker-color: #343434;
  --lighter-color: #73808d;
  --second-lighten-color: #e7e7e7;
  --accent-lighten-color: #cecaca;
  --accent-color: #545454;
  --second-accent-color: #3b5999;
  --info-bg-color: #ffffff;
  --aside-bg-color: rgba(196, 196, 196, 0.3);
  --aside-block-bg-color: rgba(196, 196, 196, 0.35);
  --page-bg-gradient: linear-gradient(
    to bottom,
    rgba(3, 56, 244, 0.71) 0%,
    rgba(244, 37, 206, 0.79) 94%
  );
  --corner-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

ul[class],
ol[class] {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background: var(--page-bg-gradient);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 32px;
  max-width: 1300px;
  min-width: 1000px;
  margin: 16px auto;
  padding-inline: 16px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: var(--corner-radius);
  background-color: var(--aside-bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 14px;
  border-radius: var(--corner-radius);
  background-color: var(--info-bg-color);
}
