:root {
  --base-color: rgba(0, 0, 0, 0.8);
  --lite-color: #ffffff;
  --second-lite-color: #fafafa;
  --darker-color: #343434;
  --lighter-color: #73808d;
  --second-lighten-color: #e7e7e7;
  --accent-lighten-color: #cecaca;
  --accent-color: #545454;
  --second-accent-color: #3b5999;
  --info-bg-color: #ffffff;
  --aside-bg-color: rgba(196, 196, 196, 0.3);
  --aside-block-bg-color: rgba(196, 196, 196, 0.35);
  --radial-color: #3b5999;
  --page-bg-gradient: linear-gradient(
    to bottom,
    rgba(3, 56, 244, 0.71) 0%,
    rgba(244, 37, 206, 0.79) 94%
  );
  --br-s: 4px;
  --br-m: 10px;

  --regular-font: 400;
  --bold-font: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

p[class],
h1[class],
h2[class],
h3[class],
h4[class] {
  margin-block: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background: var(--page-bg-gradient);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 32px;
  max-width: 1300px;
  min-width: 1000px;
  margin: 16px auto;
  padding-inline: 16px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: var(--br-m);
  background-color: var(--aside-bg-color);
}

.person__avatar {
  border-radius: 50%;
}

.person__name {
  font-size: 24px;
  color: var(--accent-lighten-color);
}

.person__birthplace {
  font-size: 36px;
  color: var(--lite-color);
}

.person__description {
  font-size: 24px;
  font-weight: var(--bold-font);
  color: var(--accent-lighten-color);
}

.aside__section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: var(--br-m);
  background-color: var(--aside-block-bg-color);
}

.aside__section-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--bold-font);
  color: var(--lite-color);
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts__item {
  display: flex;
  gap: 24px;
  align-items: center;
  color: var(--lite-color);
  padding: 8px 16px;
  border-radius: var(--br-m);
  background-color: var(--aside-block-bg-color);
  line-height: 16px;
}

.contacts__item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts__item--email::before {
  background-image: url("./assets/icons/email.svg");
}

.contacts__item--phone::before {
  background-image: url("./assets/icons/phone.svg");
}

.contacts__item--site::before {
  background-image: url("./assets/icons/website.svg");
}

.contacts__item--location::before {
  background-image: url("./assets/icons/location.svg");
}

.contacts__address {
  font-style: normal;
}

.specialization__item {
  color: var(--second-lite-color);
  line-height: 16px;
  list-style: disc;
  margin-left: 16px;
}

.languages__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--second-lite-color);
  line-height: 18px;
}

.socials__list {
  margin-block: 0;
  line-height: 16px;
  color: var(--lite-color);
}

.socials__name,
.socials__nickname {
  list-style: disc;
  display: inline;
  margin-left: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 14px;
  border-radius: var(--br-m);
  background-color: var(--info-bg-color);
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.main__section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  padding-block: 3px;
  border-radius: var(--br-s);
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--bold-font);
  color: var(--lite-color);
  text-transform: uppercase;
  background-color: var(--accent-color);
}

.main__section-title::after {
  position: absolute;
  content: "";
  display: block;
  top: 12px;
  left: 164px;
  width: calc(100% - 164px);
  height: 1px;
  background-color: var(--accent-color);
}

.main__section-subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--bold-font);
  color: var(--darker-color);
}

.main__section-subsubtitle {
  font-weight: var(--regular-font);
  line-height: 16px;
  color: var(--darker-color);
}

.main__section-text {
  color: var(---base-color);
  line-height: 16px;
}

.main__section-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.workplaces__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-range {
  line-height: 16px;
  color: var(--lighter-color);
}

.radial__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(var(--second-lighten-color) 55%, transparent 57%),
    conic-gradient(var(--radial-color) 0% 95%, transparent 96% 100%);
  line-height: 18px;
  font-weight: var(--bold-font);
  color: var(--accent-color);
}
